$font-normal: 1.7rem;
$color-grey-primary: #a4a4a4;
$color-grey-light: #eee;
$font-weight-normal: 400;
$font-weight-bold: 700;
$normal-spacing: 5rem;
$color-primary-light: #42b883;
$color-primary-dark: #1a2327;
$color-primary-light-2: #617b95; //#42b883;
$color-primary-dark-2: #1a2128; //#1a2327;
$color-primary-light-3: #f68280;
$color-primary-dark-3: #b23936;
